html,body {
    margin: 0;
    width:100%;
    height: 100%;

    /*超出body范围部分隐藏*/
    overflow: hidden;
}
#app{
    min-width:653px; 
    /* max-width: 1000px; */
}

.headerBox{
    height: 60px;
    background: #3e4648;
}
.headerLeft{
    float: left;
    height: 100%;
    max-width: 400px;
    overflow: hidden;
   
    line-height: 50px;
}
.transitionCretdBtn{
    /* position: absolute; */
    /* bottom: 15px; */
    /* left: 1.5%; */
    height: 40px;
    width: 100%;
    background: #396971;
    margin:10px 0;  
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius:6px;
    font-family: '微软雅黑';
    cursor: pointer;
    /* margin:0 auto;  */

}
.transitionCretdBtn .addproIcon{
    margin-right:5px; 
    font-size: 20px;
    vertical-align: middle;
}
.clickShowBox{
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;

}
.headerLeft .headPorList{
   
     height: 60px;
     width: 60px;
    padding:15px 15px;
    text-align: center;
    font-size: 24px;
    margin:0 5px; 
    color: #fff;
    cursor: pointer;

}
.headerLeft .headPorList:hover{

    background: #232c2e;
}
.headerLeft h2{
    display: inline-block;
    color: #ccc;

}
.headRightBox{
float: right;;
height: 60px;
width: 320px;
overflow: hidden;
}
.HeadmainPicBox{
    height: 34px;
    width: 34px;
    margin-top: 12px;
    margin-right:10px; 
    border: none;
    background: transparent;
    cursor: pointer;
}
.HeadmainPicBox img {
    border-radius: 50%;
    border: 2px #fff solid;
    /* box-sizing: border-box; */
}
.HeadmainPicName{
    height: 60px;
    max-width:100px;
    line-height: 60px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}
.HeadSearch{

 height: 30px;
 width: 200px;
 background: #d8dad9;
 height: 24px;
 border-radius:12px ; 
 padding: 5px;
 box-sizing: border-box;
 margin-top:19px; 

}
.HeadSearch i{
     margin: 0 5px;
     vertical-align: top;
     font-size:16px; 
     color: #8f8f8f;
}
.HeadSearch input{
    border: none;
    height: 16px;
    background:#d8dad9;

}

.el-row {
    margin-bottom: 20px;
    
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    /* border-radius: 4px; */
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .leftMenu{
      width: 140px;
      background: #f6f6f6;
      float: left;
      height: 100%;
      position: relative;
      border-right:1px solid #dddddd; 
      box-sizing: border-box;
 
  }
.leftMenuListBox{
    margin-top:20px; 
}
.leftMenuList{
    width: 100%;
    height:42px;
    cursor: pointer;
    text-align: left;
    margin: 20px 0;
    color: #666666;
    
}

.leftMenuListBox .router-link-active{
    background: #396971;
    color: #fff;
}
.leftMenuList:hover{
    background: #396971;
    color: #fff;
}
.leftMenuList .LeftIcon{
   
    overflow: hidden;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    vertical-align: middle;
    margin:0 5px 0 15px; 
}

.leftMenuList .LeftMenuTitle{
    font-weight:bold; 
    font-size: 15px;
}

  .mainPicBox{
      width: 100%;
      position: absolute;
      bottom: 50px;
      left: 0;
      text-align:center;
      border: none;
      background: transparent;
      cursor: pointer;

  }
  .mainPicBox img{
      border-radius:50%; 
      border: 5px #fff solid;

  }
  .mainPicBox p{
      margin-top: 10px;
      color: #fff;
      font-size:14px;
      font-weight:bold; 
  }



  .rightMenu{
      /* float: right; */
      background: #f2f9ff;
      border-left:1px solid #d8e6ef;
      width: 70px;
      position: fixed;
      right: 0;
      top: 60px;
  }
  .RightMenuListBox{


  }
  .RightMenuList{
     
     
      /* height: 98px; */
    border-bottom:2px solid #f1f1f1;
    margin: 0 auto;
    color: #7e96ae;
    font-size: 12px;
    text-align: center;
    padding: 21px 0; 
    cursor: pointer;

  }
  .RightMenuList:hover{
      background: #f1f1f1;

  }
  .RightMenuList span{
      font-size: 30px;
      margin-bottom:10px; 


  }
  .RightMenuList:nth-last-child(1){
    border-bottom:0;
  }

.ItemDec{
    width: 6px;
    height: 6px;
    display: block; 
    border-radius:50%; 
    margin:8px 5px 0 0; 
    float: left;
}

.remarkBox{
    width: 168px;
    position: relative;
    float: left;
    background: #f7f7f7;
    color: #535353;
    padding: 10px;
    box-sizing: border-box;
}
.proTitleBox{

}
.proTitleBox h1,.proTitleBox h2,.proTitleBox h3{
    margin: 10px 0;
    font-family:'微软雅黑'; 
}
.proCreateBtn{
    font-size:22px; 
    color: #2fbad3;
    margin: 30px 0;
   cursor: pointer;
   font-family:'微软雅黑'; 
}
.proCreateBtn .addproIcon{
    vertical-align: middle;
    font-size:30px; 
    color: #2fbad3;
    margin: 0 5px 0 0;
  
}
.remark{
    position: absolute;
    bottom: 20px;
    left: 0;
    line-height: 20px;
    padding: 10px;
   
}
.remark h3{
    margin: 5px 0;
}
.remark p{
    margin: 15px 0;
}
.remark p .el-progress{ vertical-align: middle; margin-right:10px; }
.remark p span{
    font-weight:bold;
    font-size: 14px;
}
.remark li{
    overflow: hidden;
    margin: 7px 0;
}

.ItemDecText{
    float: left;
    display: block;
    width: 85%;
}



/* -------------------内容区样式------------------------- */
.contentBox{
    color: #333;
  
    /* text-align: center; */
    flex-basis: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:308px; 
    margin-right:70px; 
    min-width:500px; 
    /* overflow: hidden; */
    /* height: 200px; */
   

}
.content{
    padding:20px 30px  200px 30px;
    line-height: 24px;
    margin-bottom:200px; 
    overflow-y:auto;
    min-width:400px; 
  
    

}
.content_dairy{
    padding:0;
    background: #f5f5f8;
}


.content::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     
    height: 1px;
}
.content::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.content::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px #e1e1e1;
    border-radius: 4px;
    background: #EDEDED;
}




.clear{
    width: 100%;
    height: 100px;
    background: #fff;
  
}
.searchBox{
   
    height: 45px;
    overflow: hidden;
    width: 100%;
    margin-bottom:20px; 
}
.search{
    float: left;

}
.searchInput{
    /* border: 1px solid #3d6284; */
    border-radius:4px; 
  
}
.searchInput .el-input__inner{
     /* border: 0px solid #3d6284; */
     /* border-right:0px;  */
     /* color: #fff; */
}
/* button.el-button{
    background: #3d6284;
} */
.SortBtn{
    float: right;
    background: #3d6284;
    width: 56px;
    height: 26px;
    border-radius:13px 13px; 
    line-height: 26px;
    color: #fff;
    font-size:14px; 
    font-weight: bold;
    font-family: '微软雅黑';
    padding-left:10px;
    position: relative;
    margin: 7px 0;
}
.SortBtn .el-dropdown{
    color: #fff;
    cursor: pointer;
}

.sortSeesaw{
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius:50%; 
    position: absolute;
    right: 3px;
    top: 3px;
}
.sortUp{
    height:0px;
    width: 0px;
    margin: -5px auto 0 auto;
    border-width: 7px;
    border-style: solid;
    border-color:transparent transparent #3d6284 transparent;
    cursor: pointer;
}
.sortDown{
    height:0px;
    width: 0px;
    margin: 3px auto 0 auto;
    border-width: 7px;
    border-style: solid;
    border-color:#3d6284 transparent transparent transparent;
    cursor: pointer;
}

.stepBtnStyle{
     margin:  12px auto;
     width:100%; 
     text-align: center;
    
    
}

.porList{
    width: 100%;
    border: 1px solid #e7e7e7;
   
    margin: 10px 0;
    box-sizing: border-box; 
    /* cursor: pointer; */
}
.porList:hover{
    background: #e9f8ff;
    border: 1px solid #e9f8ff;
}
.porListNameBox{
    border-bottom:1px solid #e1e1e1;
    padding: 12px;
    overflow: hidden;
}
.porDatesBox{
    padding:6px 12px;
    color: #bababa;
    overflow: hidden;
}
.porListTitle{
    line-height: 39px;
    height: 39px;
    cursor: pointer;
    overflow: hidden;
   
}
.porListTitle h2{
    overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
}
.RingType{
    text-align: center;
    vertical-align: middle;
}

.stepBox{
    height: 300px;
    margin-top:30px; 
}


.el-form-item__label{
     width: 500px;
   
}


.footer{
    height:24px;
    background: #f6f6f6;
    text-align: center;
    color: #676767;
    line-height: 24px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 140px;
    min-width: 872px;
    border-top:1px solid #dcdcdc;
}

.stepH1Title{
    height: 40px;
    border-bottom:1px dashed #dfe0e5;
    margin-bottom:20px; 

}

.stepH1Title h1{
     color: #386491;
     font-size: 14px;
     font-family: '微软雅黑';
}
.stepH1Info{
    color: #1798ec;
    overflow: hidden;
    margin-bottom:10px; 
}
.speLabel .el-form-item__label{
    line-height: 20px;
    text-align: left;
}
.stepH1InfoLeft{
    float: left;
}
.stepH1InfoRigth{
    float: right;
    color: #ea7a30;
    cursor: pointer;
}
.stepH1InfoRigth .addproIcon{
     vertical-align: middle;
     margin-right:5px; 
}
.removeBtn{
    font-size:18px; 
    margin: 0 10px;
    cursor: pointer;
}
.speLabelUlBox{
    width: 300px;
 
   
}
.speLabelLists{
    float: left;
    width: 100px;
    text-align: center;
    margin: 3px 0;
}
.secrecyBox{
    width: 100%;
    /* background: #000; */
    /* height: 40px; */
    overflow: hidden;
    /* margin-bottom: 22px; */

}
.secrecyLeft{
    float: left;
    width: 80%;
}
.secrecyRight{
    float: right;
    width: 15%;
    line-height: 40px;
}
.secrecyTop{
    margin-bottom:5px; 
    overflow: hidden;
}
.secrecyBottem{
    margin-bottom:5px; 
}
.proUserInfoBox{
    height: 170px;
    width: 100%;
    background: #f7faff;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom:22px; 
}
.proUserAvatarBox{
    height: 100%;
    /* background: #000; */
    float: left;
    width: 20%;
    /* min-width: 150px; */
    border-right:1px dashed #97b9d5; 
    box-sizing: border-box;
}
.AvatImgBox{
    width: 100px;
    height: 100px;
    border-radius:6px; 
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}



.AvatImgBox:hover .editAvatar{
    height: 100px;
    line-height: 100px;
}
.editAvatar{
    position: absolute;
    width: 100%;
    height: 0px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: rgba(0,0,0,.5);
    transition: .4s;
    cursor: pointer;
    /* border-radius:50%;  */
    bottom: 0;
    left: 0;
}
.AvatImgBox img{
    width:100%;
    /* margin: 0 auto; */
    max-width: 100px;
    min-width: 100px;
}
.proUserName{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
}
.proUserInfoInputs{
    float: right;
    width: 80%;
    min-width: 100px;
    /* background: #000; */
    height:100%;
}

.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .secrecyBottem .el-button{
      color: #fd6e20;
      border: 1px solid #fd6e20;
      margin-left:10px; 

  }
/* .button-new-tag {
    background: #000;
    border: 1px solid #fd6e20;
    color: #fd6e20;
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  } */

  .el-pagination{
    text-align: center;
    margin: 40px 0;
  }

  /* --------------------日程日志--------------------------- */
  .DiaryTabs{
      width: 100%;
      line-height: 50px;
  }
  .DiaryLiTab{
      cursor: pointer;

  }
  .editDiaryBox{
      width: 100%;
      height: 100%;
      /* background: #000; */
      position: relative;

  }
  .editDiaryTop{
      width: 100%;
      height: 76px;
      border-bottom:1px solid #e1e1e1; 
      box-sizing: border-box;
      background: #ffffff;
  

  }
  .editDiaryBtns{
      width: 61%;
      height:100px;
      border-top: 1px solid #e1e1e1;
      position: fixed;
      background: #ffffff;
      bottom: 0px;
      /* left: 0px;
      right: 0px; */
  }

  .editDiaryBtns li{
      float: left;
    /* background: #000; */
    /* line-height:80px; */
    width: 52px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    color: #ababab;
    margin: 5px;
    border-radius:3px; 
    padding:0 5px; 
    transition: .5s;
  }

  .editDiaryBtns li:hover{
      background:rgba(0,0,0,.7);
      color: #fff;
  }
  .editDiaryBtns li div{
      width: 100%;
      height: 35px;
      line-height: 45px;
      font-size:25px; 
      color: #6c6c6c;
  }
  .editDiaryBtns li:hover div{
      color: #fff;
  }
  .editDiaryBtns li div.fontlarge{
    font-size:30px;
  }
  .DiaryTabs li{
      font-size: 16px;
      color: #000;
      font-weight: bold;
      font-family: "微软雅黑"

  }
  .DiaryTabs .icon-dian:before{
      font-size: 22px;
      color:#b5b5b5;
      vertical-align: middle;

  }
  .DiaryTabs .router-link-active{
      color: #2fbad3;
  }
  .DiaryTabs .router-link-active:before { content: "\e6a9"; 
    color: #2fbad3; vertical-align: middle; }
    .editDiaryShow .iconfont{
        font-size: 25px;
    }
    .editDiaryShow  .maxFont{
        font-size:30px; 
    }

    .editDiaryShow li{
        list-style: none;
    }
.editDiaryType{
     color: #009dff;
     font-size: 25px;
     height: 45px;
     line-height: 45px;
     margin: 5px 0; 
     border-bottom:1px solid #e1e1e1;
}
.editTxt textarea{
     background: #f4f4f4;
}

/* -----------我的日志列表----------------------- */

.myDiaryInfoCountBox{
    width: 100%;
   
    text-align: left;
    line-height: 30px;
    color: red;
    font-size: 12px;
    padding: 15px 30px;
    /* width: 100%; */
    box-sizing: border-box;
    background: #fff;
}
.diaryListUlBox li.resourceList{
    background: #fff;
    margin-bottom:10px; 
    overflow: hidden;
}
.diaryListTop{
    height: 55px;
   
    overflow: hidden;
}
.diary-left-pic{
 
    width: 55%;
    overflow: hidden;
   

}
.diary-pic img{
    width: 50px; height: 50px;
    border-radius:4px; 
}
.diary-title-Box{
margin-left:10px; 
}
.diary-username{
    color: #009cff;
    font-size: 16px;
    
}
.diary-title-input{
    color: #9c9c9c;
}
.addTitleBox{
    padding: 3px 0;
}

.diary-right-icons{
 
    width: 45%;
    text-align: right
    
}
.diary-title-input .iconfont{
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    margin-top:3px; 
    margin-right:5px; 
}
.diaryTime{
    color: #b0b0b0;
    font-size: 12px;
}
.diaryIcons span{
    margin: 0 5px;
    color: #a4a4a4;
    font-size: 14px;
}
.diaryIcons span.font16{
    font-size:16px; 
}
.diaryText{
    font-size: 14px;
    color: #353535;
    font-family: '微软雅黑';
    line-height: 22px;
    margin: 10px 0;
    padding: 0 10px;
    text-indent: 2em;

}
.flexibleUlBox{
    margin-bottom: 20px;
    
}
.resourceImgList{
    margin:10px 0 0 0; 
}
.resourceImg{
    width: 100%;
    max-width: 300px;
    height: 125px;
    overflow: hidden;
    text-align: center;
    position: relative;
    background: #f6f6f6;
    border-radius:4px; 
    
}
.removeEl{
    position: absolute;
    width: 37px;
    height: 37px;
    right: 0;
    top:0;
    background: rgba(230,51,51,.7);
    text-align: center;
    line-height: 37px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
.removeEP{
    right: 7px;
}
.resourceImgvdieoMak{
    position: absolute;
    width: 56px;
    height: 54px;
    border-radius: 50%;
    text-align: center;
    top: 30px;
    left: 50%;
    margin-left:-27px; 
    line-height: 56px;
    background: #fff;
    
  
   
    
}
.resourceImgvdieoMak i.iconfont{
    font-size: 56px;
    cursor: pointer;
   

}
.resourceImg img{
    height: 100%;
    width: auto;
    /* width: 100%; */
    cursor: pointer;

}
/* .flexibleUlBox li{
    float: left;
    width: 30%;
    height: 60px;
    background: red;

} */

.resourceImgList .imagesInfo{
    color: #3c3c3c;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    height: 35px;
    /* overflow: hidden; */
    padding: 10px 0;
}
.resourceImgList .bg-purple{
    background: #fff;
}
.InfoOperating{
   
    text-align: right;
    font-family: '微软雅黑'
   
}
.InfoOperating span{
    color: #3e3e3e;
    font-size: 12px;
    margin:0 10px; 
}
.InfoOperating i.iconfont{
    font-size:16px; 
    vertical-align: top;
    font-weight: bold;
}
.InfoOperating i.iconfont18{
font-size: 18px;
}
.annexListBox .annexList {
    margin-bottom:10px; 
  }
 
  .isCurrentMap{
      width: 44px;
      display: inline-block;
      height: 44px;
      margin-right: 10px;
      text-align: center;
      line-height: 44px;
  
     
     
  }
 .annexList .el-card__body{
      overflow: hidden;
      padding: 5px;
  }
  .annexTypeImg{ width: 20%;
height: 44px;}
  .annexTypeImg img{
      width: 44px;
      height: 44px;
      vertical-align: middle;
  }
  .annexTitle{
      width: 75%;
      margin-left:2%; 
  }


.annexListBox .annexList .iconfont{
      vertical-align: middle;
    font-size:30px;
  }
  .isCurrentMap{
      background-size:100% 100%; 
  }
  .titleInput input{
      height: 30px;
  }

  .DiaryMsg{
       text-align: center;
       color: #ccc;
       font-size: 16px;
       font-family: '微软雅黑';
       margin-top:40px; 
  }
  .DiaryMsg span{
      color: #2fbad3;
      cursor: pointer;
  }
  .clickBox{
      cursor: pointer;
  }
  .TaDiaryDetail{
      
  }
  .fontH15 .editDiaryType{
      height:45px;
  }
  .fontH15 .iconfont{
      font-size: 16px;
  }
  .fontH15 .annexListBox{
       margin-top: 20px;
  }
  .detailTitle{
      color: #000;
      font-size: 16px;
      font-weight: bold;
  }
  .scoreStar .el-rate__item{
      margin:3px 0;
      height: 20px;
     
  }
  .LikediaryBtn{
      cursor: pointer;
  }

  .allCrntent{
      background: #fff;
      margin-bottom:10px; 
      overflow: hidden;
  }
  .allCrntentTitleBox{
      border-bottom:1px solid #e1e1e1;
      overflow: hidden;
  }

  .diary-title-Box span.addTitleBox{
      font-size: 14px;
      color: #000;
  }
  .allCrntentText{
      overflow: hidden;
  }
  .allCrntentText li{
      overflow: hidden;
      border-bottom:1px solid #e1e1e1;
      margin: 5px 0; 
  }
  .allCrntentText .diary-pic{
      width: 10%;
      max-width:54px;
  }
  .allCrntentText .diary-title-Box{
    width: 85%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }

 .openUp{
     height:30px;
     background: #fff;
     line-height: 30px;
     text-align: center;
     cursor: pointer;
 }
    .openUp:hover{
    background: #f6f6f6;
    }
    
  .noComment{
       text-align: center;
       font-size: 16px;
       color: #ccc;
  }
  .commentDescBtn{
      text-align: right;
      margin: 5px 0;
  }
  .lookitem .el-badge__content{
      font-size: 6px;
  }
  .lookUserBox .ivu-badge-count{
     
      right:-8px;
      top: 0px;
      min-width: 12px;
      height: 12px;
      width: 12px;
      line-height: 12px;
      overflow: hidden;
      text-align: center;
  }
  .lookUserBox .ivu-badge-count{
    font-size: 1px;
  }
  /* .lookUserBox sub{
      font-size: 12px;
  } */
  .demo-badge-alone{
      background: #7ed321 !important;
  
  }


  .lookUserText{
      position: relative;
      -webkit-text-size-adjust: none;
      
  }
  .lookUserText i.lookUserSub{
    
    /* transform: scale(0.833333); */
  
      font-size: 6px;
  }
  .lookUserSubBox{
    position: absolute;
    top: -8px;
    right:-10px;
    border-radius:50%; 
    line-height: 12px;
    width: 12px;
    height: 12px;
    font-size: 6px;
    display: block;
    overflow: hidden;
    text-align: right;
  }
  .lookUserSubBox i.lookUserSub{
    /* transform: scale(0.833333); */
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.70);
    display: inline-block;
      font-style: normal;
      margin-left:2px;
      font-size: 12px;
      color: #fff;
      line-height: 12px;
      text-align: right;
  }
  .lookUserlog{
    width: 52px;
    height: 17px;
    border: 1px solid #009cff;
    padding:2px 10px;
    border-radius:10px; 
    text-align: center;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.10);
    transform:scale(0.10);
     font-size: 12px;
     color: #21aafe;
     background: #dbf4fe;
  }
  .likeUserlog{
    width: 52px;
    height: 17px;
    border: 1px solid #fe7200;
    padding:2px 10px;
    border-radius:10px; 
    text-align: center;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.10);
    transform:scale(0.10);
     font-size: 12px;
     color: #fe7200;
     background: #fff5ed;

  }
  .commentUserlog{

    width: 52px;
    height: 17px;
    border: 1px solid #009944;
    padding:2px 10px;
    border-radius:10px; 
    text-align: center;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.10);
    transform:scale(0.10);
     font-size: 12px;
     color: #009944;
     background: #ecfef9;

  }
  .replyType{
      color: #009cff;
  }
  .CommentList{
      cursor: pointer;
      padding-top:5px; 
  }
  .CommentList:hover{
      background: #f6f6f6;
  }
  .diary-pic .el-badge__content.is-dot{
      height: 12px;
      width: 12px;
     
  }

  .arrowLeft , .arrowRight{
      position: absolute;
      top: 40%;
      width: 50px;
      height: 100px;
      cursor: pointer;
      line-height: 100px;
      text-align: center;
      font-size: 50px;
      background: rgba(0,0,0,.3);
      color:#fff;

  }
.arrowLeft{
    
    left: 20px;
}
.arrowRight{
    right: 20px;

}
.arrowLeft:hover{
    background: rgba(0,0,0,.7);
}
.arrowRight:hover{
    background: rgba(0,0,0,.7);
}

.VisiblePerson{
    text-align: center;
  

}
.DraftBox{
    height: 100%;
    width: 100%;
    text-align: center;
    border-right:1px solid #c1c0c0;
    cursor: pointer;
}
.DraftBox .DraftBoxFont{
    display: block;
    font-size: 24px;

}
.VisiblePerson{height: 100%;
width: 100%;}
.VisiblePerson .VisiblePersonCheBox{
    display: block;
}
.upLoadBtn{
    text-align: center;
    height: 100%;
}
.upLoadBtn button{
    margin-top:10px; 
}
.imgListBox{


}
.imgListBox .el-upload-list li.el-upload-list__item{
    float: left;
    height: 50px;
    width: 33.3333%;
    height: 175px;
    border: 0px;
    background-color:#f6f6f6;

}

.imgListBox .el-upload-list li.el-upload-list__item img{
    display: block;
height: 100%;
}

.imgListBox .el-upload-list li.el-upload-list__item .el-upload-list__item-name{
    display: block;
    width: 100%;

}

.DarftDelet{
    overflow: hidden;
    height: 50px;
 
}

.DarftDelet span{
  
    
     height: 100%;
     /* width: 30px; */
     display: inline-block;
     text-align: center;
     margin: 0 5px;
     cursor: pointer;
     display: inline-block;
   
}

.DarftDelet span i{
    display: block;
    font-size: 20px;
}

.DarftDelet span:hover{
    background: #f6f6f6;
   
}
.porMore{
    /* background: #000; */
    height: 30px;
    line-height: 30px;
    
    text-align: right; 
    padding-right:20px; 
}
.porMore span{
    /* display: inline-block; */
    background: #409EFF;
    border-radius:4px; 
    cursor: pointer;
    padding:8px 12px;
    
}
.headMuneBox{ 
    width: 100%;
    min-width:260px;
    max-height: 500px;
    overflow-y: auto;
    font-size: 16px;

}
.headMuneBox li{
    color: #000;
    height: 40px;
    line-height: 35px;
    padding: 3px 8px;
    border-bottom:1px solid #f5f5f8; 
    cursor: pointer;
}
.headMuneBox li:hover{
    background: #f5f5f8
}
.headMuneBox li .proListKey{
 display: inline-block;
 margin-right:15px; 

}
.UnreadNum{
    position: relative;
}
.headMuneBox li.UnreadNum sub.el-badge__content{
 
}