html,body {
    margin: 0;
    width:100%;
    height: 100%;

    /*超出body范围部分隐藏*/
    overflow: hidden;
}
#app{
    min-width:653px; 
    /* max-width: 1000px; */
}

.headerBox{
    height: 60px;
    background: #3e4648;
}
.headerLeft{
    float: left;
    height: 100%;
    max-width: 400px;
    overflow: hidden;
   
    line-height: 50px;
}
.transitionCretdBtn{
    /* position: absolute; */
    /* bottom: 15px; */
    /* left: 1.5%; */
    height: 40px;
    width: 100%;
    background: #396971;
    margin:10px 0;  
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius:6px;
    font-family: '微软雅黑';
    cursor: pointer;
    /* margin:0 auto;  */

}
.transitionCretdBtn .addproIcon{
    margin-right:5px; 
    font-size: 20px;
    vertical-align: middle;
}
.clickShowBox{
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;

}
.headerLeft .headPorList{
   
     height: 60px;
     width: 60px;
    padding:15px 15px;
    text-align: center;
    font-size: 24px;
    margin:0 5px; 
    color: #fff;
    cursor: pointer;

}
.headerLeft .headPorList:hover{

    background: #232c2e;
}
.headerLeft h2{
    display: inline-block;

}
.headRightBox{
float: right;;
height: 60px;
width: 320px;
overflow: hidden;
}
.HeadmainPicBox{
    height: 34px;
    width: 34px;
    margin-top: 12px;
    margin-right:10px; 
    border: none;
    background: transparent;
    cursor: pointer;
}
.HeadmainPicBox img {
    border-radius: 50%;
    border: 2px #fff solid;
    /* box-sizing: border-box; */
}
.HeadmainPicName{
    height: 60px;
    max-width:100px;
    line-height: 60px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}
.HeadSearch{

 height: 30px;
 width: 200px;
 background: #d8dad9;
 height: 24px;
 border-radius:12px ; 
 padding: 5px;
 box-sizing: border-box;
 margin-top:19px; 

}
.HeadSearch i{
     margin: 0 5px;
     vertical-align: top;
     font-size:16px; 
     color: #8f8f8f;
}
.HeadSearch input{
    border: none;
    height: 16px;
    background:#d8dad9;

}

.el-row {
    margin-bottom: 20px;
    
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    /* border-radius: 4px; */
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .leftMenu{
      width: 140px;
      background: #f6f6f6;
      float: left;
      height: 100%;
      position: relative;
      border-right:1px solid #dddddd; 
      box-sizing: border-box;
 
  }
.leftMenuListBox{
    margin-top:20px; 
}
.leftMenuList{
    width: 100%;
    height:42px;
    cursor: pointer;
    text-align: left;
    margin: 20px 0;
    color: #666666;
    
}

.router-link-active{
    background: #396971;
    color: #fff;
}
.leftMenuList:hover{
    background: #396971;
    color: #fff;
}
.leftMenuList .LeftIcon{
   
    overflow: hidden;
    width: 20px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 42px;
    vertical-align: middle;
    margin:0 5px 0 15px; 
}
.leftMenuList .LeftMenuTitle{

}
.leftMenuList .LeftMenuTitle{
    font-weight:bold; 
}

  .mainPicBox{
      width: 100%;
      position: absolute;
      bottom: 50px;
      left: 0;
      text-align:center;
      border: none;
      background: transparent;
      cursor: pointer;

  }
  .mainPicBox img{
      border-radius:50%; 
      border: 5px #fff solid;

  }
  .mainPicBox p{
      margin-top: 10px;
      color: #fff;
      font-size:14px;
      font-weight:bold; 
  }



  .rightMenu{
      /* float: right; */
      background: #f2f9ff;
      border-left:1px solid #d8e6ef;
      width: 70px;
      position: fixed;
      right: 0;
      top: 60px;
  }
  .RightMenuListBox{


  }
  .RightMenuList{
     
     
      /* height: 98px; */
    border-bottom:2px solid #f1f1f1;
    margin: 0 auto;
    color: #7e96ae;
    font-size: 12px;
    text-align: center;
    padding: 21px 0; 
    cursor: pointer;

  }
  .RightMenuList:hover{
      background: #f1f1f1;

  }
  .RightMenuList span{
      font-size: 30px;
      margin-bottom:10px; 


  }
  .RightMenuList:nth-last-child(1){
    border-bottom:0;
  }

.ItemDec{
    width: 6px;
    height: 6px;
    display: block; 
    border-radius:50%; 
    margin:8px 5px 0 0; 
    float: left;
}

.remarkBox{
    width: 168px;
    position: relative;
    float: left;
    background: #f7f7f7;
    color: #535353;
    padding: 10px;
    box-sizing: border-box;
}
.proTitleBox{

}
.proTitleBox h1,.proTitleBox h2,.proTitleBox h3{
    margin: 10px 0;
    font-family:'微软雅黑'; 
}
.proCreateBtn{
    font-size:22px; 
    color: #2fbad3;
    margin: 30px 0;
   cursor: pointer;
   font-family:'微软雅黑'; 
}
.proCreateBtn .addproIcon{
    vertical-align: middle;
    font-size:30px; 
    color: #2fbad3;
    margin: 0 5px 0 0;
  
}
.remark{
    position: absolute;
    bottom: 20px;
    left: 0;
    line-height: 20px;
    padding: 10px;
   
}
.remark h3{
    margin: 5px 0;
}
.remark p{
    margin: 15px 0;
}
.remark p .el-progress{ vertical-align: middle; margin-right:10px; }
.remark p span{
    font-weight:bold;
    font-size: 14px;
}
.remark li{
    overflow: hidden;
    margin: 7px 0;
}

.ItemDecText{
    float: left;
    display: block;
    width: 85%;
}



/* -------------------内容区样式------------------------- */
.contentBox{
    color: #333;
    /* text-align: center; */
    flex-basis: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:308px; 
    margin-right:70px; 
    min-width:500px; 
    /* overflow:auto; */
   

}
.content{
    padding:20px 30px  200px 30px;
    line-height: 24px;
    margin-bottom:200px; 
    overflow-y:auto;
    min-width:400px; 

}


.content::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     
    height: 1px;
}
.content::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.content::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px #e1e1e1;
    border-radius: 4px;
    background: #EDEDED;
}




.clear{
    width: 100%;
    height: 100px;
  
}
.searchBox{
   
    height: 45px;
    overflow: hidden;
    width: 100%;
    margin-bottom:20px; 
}
.search{
    float: left;

}
.searchInput{
    /* border: 1px solid #3d6284; */
    border-radius:4px; 
  
}
.searchInput .el-input__inner{
     /* border: 0px solid #3d6284; */
     /* border-right:0px;  */
     /* color: #fff; */
}
/* button.el-button{
    background: #3d6284;
} */
.SortBtn{
    float: right;
    background: #3d6284;
    width: 56px;
    height: 26px;
    border-radius:13px 13px; 
    line-height: 26px;
    color: #fff;
    font-size:14px; 
    font-weight: bold;
    font-family: '微软雅黑';
    padding-left:10px;
    position: relative;
    margin: 7px 0;
}
.SortBtn .el-dropdown{
    color: #fff;
    cursor: pointer;
}

.sortSeesaw{
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius:50%; 
    position: absolute;
    right: 3px;
    top: 3px;
}
.sortUp{
    height:0px;
    width: 0px;
    margin: -5px auto 0 auto;
    border-width: 7px;
    border-style: solid;
    border-color:transparent transparent #3d6284 transparent;
    cursor: pointer;
}
.sortDown{
    height:0px;
    width: 0px;
    margin: 3px auto 0 auto;
    border-width: 7px;
    border-style: solid;
    border-color:#3d6284 transparent transparent transparent;
    cursor: pointer;
}

.stepBtnStyle{
     margin:  12px auto;
     width:100%; 
     text-align: center;
    
    
}

.porList{
    width: 100%;
    border: 1px solid #e7e7e7;
   
    margin: 10px 0;
    box-sizing: border-box; 
    /* cursor: pointer; */
}
.porList:hover{
    background: #e9f8ff;
    border: 1px solid #e9f8ff;
}
.porListNameBox{
    border-bottom:1px solid #e1e1e1;
    padding: 12px;
    overflow: hidden;
}
.porDatesBox{
    padding:6px 12px;
    color: #bababa;
    overflow: hidden;
}
.porListTitle{
    line-height: 39px;
    height: 39px;
    cursor: pointer;
    overflow: hidden;
   
}
.porListTitle h2{
    overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
}
.RingType{
    text-align: center;
    vertical-align: middle;
}

.stepBox{
    height: 300px;
    margin-top:30px; 
}


.el-form-item__label{
     width: 500px;
   
}


.footer{
    height:24px;
    background: #f6f6f6;
    text-align: center;
    color: #676767;
    line-height: 24px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 140px;
    min-width: 872px;
    border-top:1px solid #dcdcdc;
}

.stepH1Title{
    height: 40px;
    border-bottom:1px dashed #dfe0e5;
    margin-bottom:20px; 

}

.stepH1Title h1{
     color: #386491;
     font-size: 14px;
     font-family: '微软雅黑';
}
.stepH1Info{
    color: #1798ec;
    overflow: hidden;
    margin-bottom:10px; 
}
.speLabel .el-form-item__label{
    line-height: 20px;
    text-align: left;
}
.stepH1InfoLeft{
    float: left;
}
.stepH1InfoRigth{
    float: right;
    color: #ea7a30;
    cursor: pointer;
}
.stepH1InfoRigth .addproIcon{
     vertical-align: middle;
     margin-right:5px; 
}
.removeBtn{
    font-size:18px; 
    margin: 0 10px;
    cursor: pointer;
}
.speLabelUlBox{
    width: 300px;
 
   
}
.speLabelLists{
    float: left;
    width: 100px;
    text-align: center;
    margin: 3px 0;
}
.secrecyBox{
    width: 100%;
    /* background: #000; */
    /* height: 40px; */
    overflow: hidden;
    /* margin-bottom: 22px; */

}
.secrecyLeft{
    float: left;
    width: 80%;
}
.secrecyRight{
    float: right;
    width: 15%;
    line-height: 40px;
}
.secrecyTop{
    margin-bottom:5px; 
    overflow: hidden;
}
.secrecyBottem{
    margin-bottom:5px; 
}
.proUserInfoBox{
    height: 170px;
    width: 100%;
    background: #f7faff;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom:22px; 
}
.proUserAvatarBox{
    height: 100%;
    /* background: #000; */
    float: left;
    width: 20%;
    /* min-width: 150px; */
    border-right:1px dashed #97b9d5; 
    box-sizing: border-box;
}
.AvatImgBox{
    width: 100px;
    height: 100px;
    border-radius:50%; 
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}



.AvatImgBox:hover .editAvatar{
    height: 100px;
    line-height: 100px;
}
.editAvatar{
    position: absolute;
    width: 100%;
    height: 0px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: rgba(0,0,0,.5);
    transition: .4s;
    cursor: pointer;
    /* border-radius:50%;  */
    bottom: 0;
    left: 0;
}
.AvatImgBox img{
    width:100%;
    /* margin: 0 auto; */
    max-width: 100px;
    min-width: 100px;
}
.proUserName{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
}
.proUserInfoInputs{
    float: right;
    width: 80%;
    min-width: 100px;
    /* background: #000; */
    height:100%;
}

.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .secrecyBottem .el-button{
      color: #fd6e20;
      border: 1px solid #fd6e20;
      margin-left:10px; 

  }
/* .button-new-tag {
    background: #000;
    border: 1px solid #fd6e20;
    color: #fd6e20;
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  } */

  .el-pagination{
    text-align: center;
    margin: 40px 0;
  }

  /* --------------------日程日志--------------------------- */
  .DiaryTabs{
      width: 100%;
      line-height: 50px;
  }
  .DiaryLiTab{
      cursor: pointer;

  }
  .editDiaryBox{
      width: 100%;
      height: 100%;
      /* background: #000; */
      position: relative;

  }
  .editDiaryTop{
      width: 100%;
      height: 76px;
      border-bottom:1px solid #e1e1e1; 
      box-sizing: border-box;
      background: #ffffff;
  

  }
  .editDiaryBtns{
      width: 61%;
      height:100px;
      border-top: 1px solid #e1e1e1;
      position: fixed;
      background: #ffffff;
      bottom: 0px;
      /* left: 0px;
      right: 0px; */
  }

  .editDiaryBtns li{
      float: left;
    /* background: #000; */
    /* line-height:80px; */
    width: 52px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    color: #ababab;
    margin: 5px;
    border-radius:3px; 
    padding:0 5px; 
    transition: .5s;
  }

  .editDiaryBtns li:hover{
      background:rgba(0,0,0,.7);
      color: #fff;
  }
  .editDiaryBtns li div{
      width: 100%;
      height: 35px;
      line-height: 45px;
      font-size:25px; 
      color: #6c6c6c;
  }
  .editDiaryBtns li:hover div{
      color: #fff;
  }
  .editDiaryBtns li div.fontlarge{
    font-size:30px;
  }
  .DiaryTabs li{
      font-size: 16px;
      color: #000;
      font-weight: bold;
      font-family: "微软雅黑"

  }
  .DiaryTabs .icon-dian:before{
      font-size: 22px;
      color:#b5b5b5;
      vertical-align: middle;

  }
  .DiaryTabs .active{
      color: #2fbad3;
  }
  .DiaryTabs .active:before { content: "\e6a9"; 
    color: #2fbad3; vertical-align: middle; }
    .editDiaryShow .iconfont{
        font-size: 25px;
    }
    .editDiaryShow  .maxFont{
        font-size:30px; 
    }
.editDiaryType{
     color: #009dff;
     font-size: 25px;
     height: 45px;
     line-height: 45px;
     margin: 5px 0; 
     border-bottom:1px solid #e1e1e1;
}
.editTxt textarea{
     background: #f4f4f4;
}