
.bgImage {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 972px;
    height: 752px;
    margin: -378px 0 0 -514px;
  
  }
  .el-input__prefix i{ 
      color:#379ffe; font-size: 20px;
      font-style: normal;
        margin: 0 5px;
}
  .footLeftSwitch{
      float: left;
  }
  .loginBox{
      width: 334px;
      height: 100%;
  
      margin: 0 auto;
      overflow: hidden;
  }
  .logo {
    margin-top: 196px;
    text-align: center;
  }
  .logo img{
    width: 156px;
    height: 50px;
  }
  .login {
    position: relative;
    width: 418px;
    height: 302px;
    margin-top: 12px;
    background: white;
    margin-left: 276px;
  }
  .el-tabs__item{
      height: 50px;
      font-size: 16px;
      margin-top:10px; 
      color: #b5b5b5;
  
  }
  .el-tabs_bor{
  height: 5px;
  }
  .svSign,
  .pwSign {
    display: inline-block;
    line-height: 44px;
    font-size: 16px;
    border-bottom: 4px solid #b5b5b5;
    width: 166px;
    text-align: center;
    color: #b5b5b5;
    opacity: 1;
  }
  .svSign {
    margin-left: 44px;
    color: #379ffe;
    border-color: #379ffe;
  }
  .pwSign {
    margin-left: -5px;
  }
 
  .telPrompt {
    position: absolute;
    top: 91px;
    left: 78px;
    border-radius: 6px;
    opacity: 1;
    text-indent: 18px;
    padding-right: 18px;
    height: 38px;
    font-size: 14px;
    background: #e1e1e1;
    line-height: 38px;
    color: #666666;
    display: none;
  }
  
  .footSign {
    color: #999999;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 334px;
    margin-bottom: 20px;
  }
  .checkSign {
    background: red;
  }
  .footLeftSign {
    clear: both;
    float: left;
  }
  .footRightSign {
    float: right;
  }
  
  .forgetPw {
    float: left;
    margin-right: 13px;
    color: #999999;
  }
  
  .regAway {
    margin-left: 13px;
    float: right;
    color: #999999;
  }


  /* -----找回密码----- */


  .reset{
	position: relative;
    width: 418px;
    height: 354px;
    margin-top:12px;
    background: white;
    margin-left: 276px;
}
.resetHeader{
	margin-left: 44px;
	width: 330px;
	font-size: 16px;
	color: #b5b5b5;
	line-height: 44px;
	border-bottom:2px solid #e4e7ed;
	opacity: 1;
	text-indent: 34px;
}
.returnImg{
	position: absolute;
	left: 44px;
	top: 8px;
}
.allReset{
	margin:15px 44px 0 44px; 
}
.telWriteReset{
    width: 100%;
    height:42px;
    margin-top: 22px;
    text-indent: 50px;
    /* background: url(../images/tell4.png) 11px 7px no-repeat; */
    font-size: 14px;
    color: #999999;
    border:1px solid #999999;
    opacity: 1;
}
.verificationReset{
	position: absolute;
	top: 68px;
	left:267px;
	border: none;
	background: white;
	color: #379FFE;
	width: 108px;
	line-height: 36px;
	font-size: 14px;
}
.divisionReset{
	height: 42px;
	line-height: 42px;
	font-size: 22px;
	margin-right: 10px;
}
.telDivisReset{
    width: 100%;
    height:42px;
    margin-top: 22px;
    text-indent: 50px;
    /* background: url(../images/input.png) 11px 7px no-repeat; */
    font-size: 14px;
    color: #999999;
    border:1px solid #999999;
    opacity: 1;
}
.pwReset{
	width: 100%;
    height:42px;
    margin-top: 22px;
    text-indent: 50px;
    /* background: url(../images/password2.png) 11px 7px no-repeat; */
    font-size: 14px;
    color: #999999;
    border:1px solid #999999;
    opacity: 1;
}
.closeEyeReset{
	position: absolute;
    top: 209px;
    left: 310px;
    
}
.openEyeReset{
	position: absolute;
    top: 209px;
    left: 310px;
    display: none;
}
.resetBtn{
    width: 100%;
    height: 42px;
    margin-top: 22px;
    font-size: 16px;
    color: #FFFFFF;
    border:none;
    background: #B5B5B5;
    opacity: 1;
}
.footRegist{
	font-size: 12px;
	color: #999999;
	text-indent: 69px;
	margin-top: 19px;
}
.Agreement{
	color: #379ffe;
}





.signInBtn {
  width: 100%;
  height: 42px;
  font-size: 16px;
  color: #ffffff;
  border: none;

  opacity: 1;
}